---
layout: default
type: home
---
<div class="grid margin-center content-max header-padding-push">
	<section id="home">
		<div class="banner unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 scene_element scene_element--fadein">
			<h1 class="heading header-big gutter ">User Experience &amp; Product Design Lead <!-- <span class="styled-link">@Burberry</span> --></h1>
			<h3 class="gutter giga subheading">Selection of projects</h3>
		</div>
	</section>
	<section id="projects" class="viewport-max">
		<ul class="projects">
			{% for project in site.pages %}
				{% if project.type == 'project' %}
				
					<div class="project project_gutter scene_element scene_element--fadein">
						<a href="{{site.baseurl}}/projects/{{project.folder}}" class="project-link" id="#{{project.folder}}">
								<li class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-1 island project-image">
									<div class="project-title">
										<h3 class="micro text-upper">{{project.title}}</h3>
										<h2 class="giga subtitle">{{project.subtitle}}</h2>
									</div>
								</li>
						</a>
					</div>
				
				{% endif %}
			{% endfor %}
		</ul>
	</section>
	<section id="about-short" class="about-short">
		<div class="giga gutter unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 scene_element scene_element--fadein">
			<h3 class="micro text-upper">About me</h3>
			<p class="">My name is <a href="{{site.baseurl}}/contact.html" class="bold">Luke Warda</a> and I am a London based User Experience & Product Design Lead with <a href="{{site.baseurl}}/contact.html" class="">10 years of experience</a> in design and usability, team lead for award-winning Mobile, Tablet & Web solutions that satisfy consumers’ needs, champion technology use, and fulfil requirements for world's most influential brands. Since 2013 designing <a href="{{site.baseurl}}/contact.html" class="bold">@Burberry &#8594</a></p>
		</div>

					

	</section>
</div>