---
layout: default
---

<div class="project-detail project4" id="project-4">
	
  	<div class="content-max margin-center header-padding-push scene_element scene_element--fadein" >
  		<div class="banner unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
				{% for project in site.pages %}
					{% if project.folder == 'project-fifa-app' %}
						<h1 class="heading header-big gutter ">{{project.subtitle}}</h1>
						<h3 class="gutter giga subheading">{{project.tags}}</h3>
					{% endif %}
				{% endfor %}
		</div>		
  	</div>
  	<div class="scene_element scene_element--fadeinup">
	  	<div class="project-cover">
	  	</div>
	  	<section id="section-intro" class="article-max margin-center pad-top-double">
		  	<div class="unit gutter">
		  		<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">Overview</h3>
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"> FIFA’s World Cup App was designed as a companion app for the tournament which took place in 2014 in Brazil. By the mid-point of the games, “more than 2.5 billion screen views had been consumed, with fans spending an average of 54 minutes each interacting with live, editorial and social content. <span class="highlight-4">By the final whistle, the app had become the most downloaded sports event app of all time with over 28 million downloads, #1 in over 200 countries” and the 2014 tournament being acknowledged as the ‘first truly mobile and social World Cup’.</span>”</p>	
		  		<!-- <img src="{{site.baseurl}}/img/project-fifa-app/FIFA_logo_without_slogan.png" class="unit-xs-1-2 unit-s-1-2 unit-m-1-1-3 unit-l-1-3"> -->
		  		<div class="download-app pad-top-double pad-bottom-double">
			  		<div class="article-max gutter app-icon fifa-app-icon unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2"></div>
			  		<div class="download-app-buttons">
				  		<a href="https://itunes.apple.com/gb/app/fifa-official-app/id756904853?mt=8" class="app-store-button bold"></a>
				  		<a href="https://play.google.com/store/apps/details?id=com.fifa.fifaapp.android&hl=en_GB" class="play-store-button bold"></a>
			  		</div>
		  		</div>
		  	</div>
	  	</section>
	  	
	  	
		

	  	<section id="section-2" class="body-max margin-center pad-top">
		  	<div class="">

			  	<div class="carousel">
			  		<img src="{{site.baseurl}}/img/project-fifa-app/FIFA-Comp-1.png" alt="FIFA APP Comp 1" class="img-carousel">
				  	<!-- <img src="{{site.baseurl}}/img/project-fifa-app/FIFA-Comp-2.png" alt="FIFA APP Comp 2" class="img-carousel"> -->
				  	<img src="{{site.baseurl}}/img/project-fifa-app/FIFA-Comp-3.png" alt="FIFA APP Comp 3" class="img-carousel">
				  	<img src="{{site.baseurl}}/img/project-fifa-app/FIFA-Comp-4.png" alt="FIFA APP Comp 4" class="img-carousel">
				  	<!-- <img src="{{site.baseurl}}/img/project-fifa-app/FIFA-Comp-5.png" alt="FIFA APP Comp 5" class="img-carousel">
				  	<img src="{{site.baseurl}}/img/project-fifa-app/FIFA-Comp-6.png" alt="FIFA APP Comp 6" class="img-carousel"> -->
					<img src="{{site.baseurl}}/img/project-fifa-app/FIFA-Comp-3.png" alt="FIFA APP Comp 3" class="img-carousel">
				</div>
			</div>
		</section>
		<div class="article-max margin-center">
			<figcaption class="gutter img-capti on carousel-caption opacity-50 micro">Scroll left to explore the final app</figcaption>
		</div>
		</section>
	  	<section id="section-1" class="article-max margin-center pad-top-double">
		  	<div class="unit gutter">
		  		<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">Background & Role</h3>
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"> In 2013 I was invited to work on the official app for FIFA alongside Grapple Mobile’s team of fantastic designers, developers, and product managers. A member of a cross-functional team, I was responsible for <span class="highlight-4">leading the high level concept, conducting a deep-dive discovery process, as well as delivery of the main experience of the app for mobile & tablet on iOS and Android.</span></p>
		  	</div>
		</section>
		<section id="section-2" class="article-max margin-center pad-top">
			<div class="unit gutter">
				<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">Project Goals</h3>
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">Together with FIFA we identified three main goals for the app:</p>
				<ol class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
					<li>Users should be <span class="highlight-4">engaged</span> with the app despite stream of games being unavailable in-app. The engagement should happen before, during and after the games.</li>
					<li>The app should be <span class="highlight-4">valuable</span> and enjoyable for both hardcore football fans and people tuning in just for the event.</li>
					<li>App should encourage user’s <span class="highlight-4">perception</span> of FIFA a socially responsible and inclusive brand, highlighting organisation’s social and charitable work around the world</li>
				</ol>
				<!-- <p class="micro opacity-50 unit-xs-1 unit-s-1 unit-m-1 unit-l-1">Other considerations and constraints: a) The app had to be devised using existing APIs from FIFA’s website; b) The app needed to work across multiple OS’s and support older devices as well as 5 languages.</p> -->
		  	</div>
	  	</section>
	  	<section id="section-3" class="article-max margin-center pad-top">
			<div class="unit gutter">
				<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">Discovery & Process</h3>
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"> The team was locked up in a room for a week trying to break the requirements down into a meaningful user experience and high-level concept. The sessions were organised in way which encouraged collaboration and creative input from all members of the team including managers and developers. I find that doing this allows every department to feel involved and excited about the project, fostering a greater team spirit-which is what often drives the concept through to delivery.</p>
		  		<p class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
			  		<figure class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 padding-0 img-collection-res img-res-1"><!-- <img src="{{site.baseurl}}/img/project-fifa-app/Research-1.png" alt="FIFA APP Research 1" class="img-article-width"> --></figure><figure class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 padding-0 img-collection-res img-res-2"><!-- img src="{{site.baseurl}}/img/project-fifa-app/Research-2.png" alt="FIFA APP Research 2" class="img-article-width"> --></figure><figure class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 padding-0 img-collection-res img-res-3"><!-- <img src="{{site.baseurl}}/img/project-fifa-app/Research-4.png" alt="FIFA APP Research 4" class="img-article-width"> --></figure><figure class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 padding-0 img-collection-res img-res-4"><!-- <img src="{{site.baseurl}}/img/project-fifa-app/Research-3.png" alt="FIFA APP Research 3" class="img-article-width"> --></figure>
					<figcaption class="img-caption opacity-50 micro">Intense sessions were combined with a bit of exercise to aid recovery and oxygen flow.</figcaption>
			  		</p>
			  		
				</p>
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
		  		
		  		
				<!-- <ol class="article-media giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"> -->
		  	</div>

		</section>
		<section id="section-4" class="article-max margin-center pad-top pad-bottom-double">
			<div class="unit gutter">
				<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">Guiding Concepts</h3>
				<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">After 5 days of creative sessions, we came up with three concepts we wanted to guide this project. We wanted to make sure we have a point of reference later on in delivery that we could look back to to asses priority of features. These were: </p>
					<ol>
						<li><h3 class="unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4 span-90">Global Stadium</h3></li>
						<li><h3 class="unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4 span-90">Game On</h3></li>
						<li><h3 class="unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4 span-90">Responsible Brand</h3></li>
					</ol>
			</div>
			<!-- <div class="article-media giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 fifa-pilars">
				<div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 pilar pilar-1"><h3 class="unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4 span-90">Global Stadium</h3></div>
				<div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 pilar pilar-2"><h3 class="unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4 span-90">Game On</h3></div>
				<div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 pilar pilar-3"><h3 class="unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4 ">Responsible Brand</h3></div>
			</div> -->
	  	</section>
	  	<div class="section-cover-large global-stadium-background pad-top-double pad-bottom-double">
	  		<div class="unit gutter section-cover-text article-max margin-center pad-top-double unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
		  		<h1 class="heading header-big ">Global<br>Stadium</h1>
	  		</div>
	  	</div>
	  	<section id="section-4" class="article-max margin-center pad-top-double pad-bottom-double">
			<div class="unit gutter">
				
				<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">The world's biggest conversation</h3>
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">Driving engagement with the app without live steaming was the main focus of our sessions. We asked ourselves what else make the tournament the global event it is and how can we make the app useful for people watching the games at home. Our <span class="highlight-4">user research suggested that fans love the conversation happening around the games almost as much as the game itself—with vast majority posting passionately on Twitter, Facebook and Instagram</span>. We expected this behaviour to intensify as the Cup enveloped, coming from both people watching games at home and those experiencing matches at stadiums.</p>
		  		<figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><img src="{{site.baseurl}}/img/project-fifa-app/tweet-activity.png" class="img-article-width"><figcaption class="img-caption opacity-50 micro">Educational material was oragised into journerys, each explaining FIFA's charitable impact on the communities around the world.</figcaption></figure>
		  		<figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><img src="{{site.baseurl}}/img/project-fifa-app/celeb-social-media.jpg" class="img-article-width"><figcaption class="img-caption opacity-50 micro">Educational material was oragised into journerys, each explaining FIFA's charitable impact on the communities around the world.</figcaption></figure>
		  		<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">The stadium</h3> 
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">This sparked <span class="highlight-4">the idea of a Global Stadium&mdash;a space in the app where the social content from around the world can be experienced by all users, with smart algorithms highlighting the most relevant content to each fan.</span> The app would prioritise  content by user’s preference, favourite teams and country of origin, putting focus on the social content arriving from the actual stadiums and exclusive behind the stage official footage to allow people watching at home feel as close as possible to actually being there.</p>
		  		<figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><img src="{{site.baseurl}}/img/project-fifa-app/global-stadium-img-1.png" class="img-article-width"><figcaption class="img-caption opacity-50 micro">Educational material was oragised into journerys, each explaining FIFA's charitable impact on the communities around the world.</figcaption></figure><figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><img src="http://i.giphy.com/xT0GqDMLjVDCwdeyFG.gif" class="img-article-width"><figcaption class="img-caption opacity-50 micro">Educational material was oragised into journerys, each explaining FIFA's charitable impact on the communities around the world.</figcaption></figure>
		  		<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">Live draw</h3> 
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">The second screen experience had to be understood and work well from the very first interaction with the app. We realised that for majority of users that would be during the Live Draw, which coincided with app’s initial launch. <span class="">Live Draw experience the app was to replicate and guide thorough the experience on screen helping understand the impact of each draw to the fans.</span></p>
		  		<!-- <figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><img src="{{site.baseurl}}/img/project-fifa-app/World-Cup-2014-draw.png" class="img-article-width"><figcaption class="img-caption opacity-50 micro">Lorem ipsum</span></figcaption></figure> -->
		  		<figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><img src="http://i.giphy.com/3o72F74VzOUsqyC2dy.gif" class="img-article-width"><figcaption class="img-caption opacity-50 micro">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </span></figcaption></figure>
		  		<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">Rewind</h3>
				<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">The rewind functionality was crucial not only for fans ability to relieve an a given match but also for the app’s graceful degradation, after the World Cup was over. We made sure the app would remain current, by providing information about the next relevant tournaments and the next World Cup. The 2014 World Cup was to become archived alongside other World Cups of the past, <span class="">allowing fans to relieve the moments of glory.</span></p>
				<figure class="article-media unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><img src="http://i.giphy.com/l46CDmpCKj9JnhqiQ.gif" class="img-article-width">
				
		  		<figcaption class="img-caption opacity-50 micro">The rewind functionality was crucial not only for fans ability to relieve an a given match but also for the app’s graceful degradation, after the World Cup was over. We made sure the app would remain current, by providing information about the next relevant tournaments and the next World Cup. The 2014 World Cup was to become archived alongside other World Cups of the past, <span class="">allowing fans to relieve the moments of glory.</span></figcaption>
		  	</div>
	  	</section>
	  	<div class="section-cover-large game-on-background pad-top-double pad-bottom-double">
	  		<div class="unit gutter section-cover-text article-max margin-center pad-top-double unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
		  		<h1 class="heading header-big ">Game<br>On</h1>
	  		</div>
	  	</div> 	
	  	<section id="section-5" class="article-max margin-center pad-top-double pad-bottom-double">
			<div class="unit gutter">
				<!-- <h1 class="heading header-big pad-top-double unit-xs-1 unit-s-1 unit-m-1 unit-l-1">Game On</h1> -->
				<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">Dynamic Feel</h3>
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">Another pilar for the app was the idea that we should attempt to recreate the dynamic feel and rich interactions of football games UI such as FIFA by EA Sports and TV sports channels to make the consumption of large amount of information feel fun and an experience in itself for the fans. We looked particularly towards Eurosport and various other American sports channels featuring dramatic animations and airy ambience.</p> 
		  		<figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><img src="{{site.baseurl}}/img/project-fifa-app/fox-tv.png" alt="FIFA APP Explore Animations" class="img-article-width"><figcaption class="img-caption opacity-50 micro">Educational material was oragised into journerys, each explaining FIFA's charitable impact on the communities around the world.</figcaption></figure><figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><img src="{{site.baseurl}}/img/project-fifa-app/nbc-sports.jpg" alt="FIFA APP Explore Animations" class="img-article-width"><figcaption class="img-caption opacity-50 micro">Educational material was oragised into journerys, each explaining FIFA's charitable impact on the communities around the world.</figcaption></figure>
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><span class="highlight-4">We paid attention to transitions, contextual UI, and used fake blur effect (mind you this was before iOS7) to create a sense of depth and context. Diagonal lines running through the design were a mindful continuation of FIFA’s logo and a reminder of the dynamic nature of sports.</span> We even considered modelling navigation after design elements familiar from the pitch and built a prototype of a hidden game that users could activate with magic gesture (neither ended in the final product).</p>
		  		<div class="article-media">
			  		<figure class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2" style="padding-bottom: 0;"><img src="http://i.giphy.com/SYM23WjZtIbKw.gif" alt="FIFA APP Explore Animations" class="img-duo-l" style="display: block;"></figure><figure class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2"><img src="http://i.giphy.com/3oEjHCdHZdVVKkrAJy.gif" alt="FIFA APP Explore Animations" class="img-duo-l" style="display: block;"></figure><figcaption class="img-caption opacity-50 micro pad-bottom span-90">We looked at many naviational patterns inspired by video games. Final prototype on the right ended up in production.</figcaption>
		  		</div>
		  		<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">Easly customisied</h3>
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">We also carefully considered Information Architecture of the countless stats and match updates which helped us design a clean news reader and football database where fans and casual users alike can easily navigate, find and understand the information they encounter. <span class="highlight-4">We also ensured it was easy to your favourite teams and subscribe to match reminders.</span></p>
		  		<figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><img src="{{site.baseurl}}/img/project-fifa-app/FIFA-customise.gif" class="img-article-width"><figcaption class="img-caption opacity-50 micro">Educational material was oragised into journerys, each explaining FIFA's charitable impact on the communities around the world.</figcaption></figure>
		  	</div>
	  	</section>
	  	<div class="section-cover-large responsible-brand-background pad-top-double pad-bottom-double">
	  		<div class="unit gutter section-cover-text article-max margin-center pad-top-double unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
		  		<h1 class="heading header-big ">Responsible<br>Brand</h1>
	  		</div>
	  	</div>
	  	<section id="section-6" class="article-max margin-center pad-top-double pad-bottom-double">
			<div class="unit gutter">
				<!-- <h1 class="heading header-big pad-top-double unit-xs-1 unit-s-1 unit-m-1 unit-l-1">Responsible Brand</h1> -->
				<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">Educational interaction</h3>
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">Finally we asked ourselves how can we engage people who come to the app for entertainment into an educational piece about FIFA’s work in charity and help craft the perception of the brand as socially responsible and inclusive of everyone. We looked for inspiration to children’s educational iPad apps (one of we which another team has been working on at the same time) and the WWF fantastic environmental iPad app, a winner of Apple’s annual design award in 2013. <span class="highlight-4">We found that the best way to educate a distracted mind is through a compelling interactive, rich storytelling, which we did by creating a series of simple tasks that unlock consecutive pieces of information.</span></p>
				<figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><img src="{{site.baseurl}}/img/project-fifa-app/WWF-Inspiration.jpg" alt="FIFA APP Explore Animations" class="img-article-width"><figcaption class="img-caption opacity-50 micro">Educational material was oragised into journerys, each explaining FIFA's charitable impact on the communities around the world.</figcaption></figure>

				<figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><img src="{{site.baseurl}}/img/project-fifa-app/FIFA-Explore-Ideas.png" alt="FIFA APP Explore Animations" class="img-article-width"><figcaption class="img-caption opacity-50 micro">Educational material was oragised into journerys, each explaining FIFA's charitable impact on the communities around the world.</figcaption></figure>
				<figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><img src="https://media.giphy.com/media/xT0GqqaXVvxRhT1gnC/giphy.gif" alt="FIFA APP Explore Animations" class="img-article-width"><figcaption class="img-caption opacity-50 micro">Educational material was oragised into journerys, each explaining FIFA's charitable impact on the communities around the world.</figcaption></figure>
		  		<figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"><img src="https://media.giphy.com/media/3o6gE6ukIlAELFDPA4/giphy.gif" alt="FIFA APP Explore Animations" class="img-article-width"><figcaption class="img-caption opacity-50 micro">By interacting with simple playful tasks the user was more likely to consume and remember information about FIFA.</figcaption></figure>
		  		<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">Inclusive of all audiences</h3>
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">Another way of making everyone feel one with the global brand was through a design that worked across platforms and in all the supported languages without a compromise to the experience. This meant making sure that no user felt second-best because they have an older device or poor internet connection.</p>
		  	</div>
	  	</section>
	  	
	  	<div class="section-cover-large launch-background pad-top-double pad-bottom-double">
	  		<div class="unit gutter section-cover-text article-max margin-center pad-top-double unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
			<h1 class="heading header-big" style="color:white;">Launch &<br>Reception</h1>
	  		 
	  		</div>
	  	</div>

	  	<section id="section-7" class="article-max margin-center pad-top-double pad-bottom-double">
			<div class="unit gutter">
				<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">Launch & Reception</h3>
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">At the time the app launched and World Cup officially kicked off, I was celebrating my 30th birthday in Iceland. Watching the Live Draw with the FIFA companion app on my lap, I forgot all the sleepless nights and effort that when into this project, and simply enjoyed the fact the app was now available for all to download. <span class="highlight-4">The app reach number 1 in 200 countries, generated over 2 billion screen views and 28 million downloads generating favourable reception from the fans and design community.</span></p>
		  		<figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 padding-0"><img src="{{site.baseurl}}/img/project-fifa-app/FIFA-Reception1.png" class="img-article-width"></figure><figure class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 padding-0"><img src="{{site.baseurl}}/img/project-fifa-app/FIFA-Reception2.png" class="img-article-width"></figure>
		  	</div>
	  	</section>
	  	<hr class="section-divider">
	  	<section id="section-8" class="article-max margin-center pad-top-double pad-bottom-double">
			<div class="unit gutter">
				<h3 class="text-upper unit unit-xs-1 unit-s-1 unit-m-1-3-4 unit-l-3-4">Afterword&mdash;3 years on</h3>
		  		<p class="giga unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">It’s now 3 years since we were commissioned to work on this project. While I still feel this is one of best projects I’ve worked on to date, I can’t help but scrutinise some of the decisions we made. In particular, if given a chance, I would refine the use of iconography and redesign main navigation to help drive traffic to all the sections of the app. I would also give more attention to the notifications strategy which I feel has become a platform in itself for modern brands. Looking forward to the next version of the app for the 2018 World Cup in Russia.</p>
		  		<p class="giga quote unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 opacity-50">Special thanks to everyone who’s worked on this project. It was an amazing privilege to see your tireless work ethic and craftsmanship. Till next time!</p>
		  	</div>
	  	</section>
	</div>
</div>