---
layout: default
---

<div class="project-detail project3" id="">
	
  	<div class="content-max margin-center header-padding-push" >
  		<div class="banner unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
				{% for project in site.pages %}
					{% if project.folder == 'project3' %}
						<h1 class="gutter header-big">{{project.subtitle}}</h1>
						<h3 class="gutter giga subheading opacity-50">{{project.tags}}</h3>
					{% endif %}
				{% endfor %}
		</div>		
  	</div>
  	<div class="scene_element scene_element--fadeinup">
	  	<div class="project-cover"></div>
	</div>
</div>