<div class="margin-center content-max footer-wrapper">
	<section id="contact" class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 span-90">
		<h3 class="micro text-upper">Contact</h3> 
		<div class="">
			<ul class="footer-links">
				<li><a href="mailto:luke.warda@gmail.com" class="">Email</a></li>
				<li><a href="https://twitter.com/lukewarda" class="">Twitter</a></li>
				<li><a href="https://uk.linkedin.com/in/lukewarda" class="">LinkedIn</a></li>
				<li><a href="{{site.baseurl}}/files/Luke-Warda-UX-Product-Design-Resume.pdf" class="">Resume</a></li>
				<li><a href="https://medium.com/@uxbeard" class="">Medium</a></li>
			</ul>
		</div>
	</section>
</div>