<div class="margin-center content-max footer-wrapper">
	<h3 class="micro text-upper">Contact</h3>
	<div class="">
		<ul class="footer-links">
			<li><a href="mailto:luke.warda@gmail.com">Email</a></li>
			<li><a href="https://twitter.com/lukewarda">Twitter</a></li>
			<li><a href="https://medium.com/@uxbeard">Medium</a></li>
			<li><a href="https://github.com/calingo">GitHub</a></li>
			<li><a href="uk.linkedin.com/in/lukewarda">LinkedIn</a></li>
		</ul>
		<div class="contact">© Luke Warda</div>	
	</div>
	
</div>