<!-- <div class="margin-center content-max footer-wrapper">
	<section id="contact" class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 span-90">
		<h3 class="text-upper">Contact</h3> 
		<div class="">
			<ul class="footer-links giga">
				<li><a href="mailto:luke.warda@gmail.com" class="">Email</a></li>
				<li><a href="https://twitter.com/lukewarda" class="">Twitter</a></li>
				<li><a href="https://uk.linkedin.com/in/lukewarda" class="">LinkedIn</a></li>
				<li><a href="{{site.baseurl}}/files/Luke-Warda-UX-Product-Design-Resume.pdf" class="">Resume</a></li>
				<li><a href="https://medium.com/@uxbeard" class="">Medium</a></li>
			</ul>
		</div>
	</section>
</div> -->

<div class="margin-center content-max footer-wrapper">
	<div class="gutter unit unit-xs-1 unit-s-1 unit-m-1 unit-l-3-4">	
		<ul class="giga">
			<h3 class="exa">Contact</h3>
			<li>Email: <a href="mailto:luke.warda@gmail.com" class="bold">luke.warda@gmail.com</a></li>
			<li>Twitter: <a href="https://twitter.com/lukewarda" class="bold">@lukewarda</a></li>
			<li>LinkedIn: <a href="uk.linkedin.com/in/lukewarda" class="bold">lukewarda</a></li>
			<li>Medium: <a href="https://medium.com/@uxbeard" class="bold">uxbeard</a></li>
			<li>Resume: <a href="{{site.baseurl}}/files/Luke-Warda-UX-Product-Design-Resume.pdf" class="bold">download</a></li>
		</ul>
	</div>
</div>