<nav class="gutter">
	<ul class="nav-links">
		<li>
			<a href="{{site.baseurl}}/contact.html/#contact" title="Contact">
				<div class="profile-contact {% if page.type == 'contact' %}back-hidden{% endif %}"></div>
			</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/contact.html" title="About me">
				<div class="profile-small {% if page.type == 'contact' %}back-hidden{% endif %}"></div>
			</a>
		</li>
	</ul>
	<h4 class="logo">
		<a href="{{site.baseurl}}/index.html" title="Luke Warda - User Experience & Product Design"><span class="back-shown {% if page.type == 'home' %}back-hidden{% endif %}">&#8592;  </span><span class="logotype {% if page.type == 'home' %}logotype-home{% endif %}">Luke Warda</span></a>
	</h4>
	

</nav>