<nav class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3">
	<h1 class="logo push-0 gutter">
		<a href="{{site.baseurl}}/index.html">LW</a>
	</h1>
</nav> 
	<nav class="unit unit-xs-2-3 unit-s-2-3 unit-m-2-3 unit-l-2-3">
		<ul class="nav gutter">
			<li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html' %}current{% endif %} island-half">Projects</a></li>
			<!-- <li><a href="{{site.baseurl}}/contact.html" class="{% if page.url == '/contact.html' %}current{% endif %} island-half">Contact</a></li> -->
		</ul>

	</nav>