html {
	margin: 0;
	padding: 0;
	font: normal 100% 'Graphik', serif;
	box-sizing: border-box;
	text-size-adjust: 100%;
	background-color: lightgray;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

body {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	list-style-type: none;
}

/*************Layout***************/

.header-max {
	max-width: 960px;
}

.content-max {
	max-width: 820px;
}

.margin-center {
	margin-left: auto !important;
	margin-right: auto !important;
}

.flex {
	display: block;
	width: 100;
}

/*************Nav***************/

nav {
	margin: 0;
	padding: 0;
	list-style-type: none !important;
	text-align: right;
}

nav .logo {
	text-align: left;
}
nav .current {
	color: olive;
}

nav a {
	display: block;
}

/*************Projects***************/

.projects-wrapper {
	width: 100%;
}

.projects {
	padding-left: 0em;
}

.project {
	height: 520px;
	filter: invert(100%);
}

.project:nth-child(1) {
	background-color: rgba(0,0,0,0.2);
}

.project:nth-child(2) {
	background-color: rgba(0,0,0,0.4);
}

.project:nth-child(3) {
	background-color: rgba(0,0,0,0.6);
}

.project:nth-child(4) {
	background-color: rgba(0,0,0,0.3);
}

/*************Footer***************/

.footer-links {
	display: flex;
	justify-content: space-around;
}

.copyright {
	float: right;
	text-align: center;
}

/*************Breakpoint Exceptions***************/

@media only screen and (min-width: 25em)  {
	nav li {
		display: inline-block;
	}

	.footer-links {
		justify-content: space-around;
	}

	.copyright {
		float: right;
		text-align: center;
	}

}

@media only screen and (min-width: 38em)  {
	nav {
		text-align: right;
	}

	.copyright {
		text-align: right;
	}

	.project_gutter {
		width: calc(50% - 1.5rem / 2); 
		margin-bottom: 1.5rem;
	}

	.project_gutter:nth-child(even) {
		margin-left: calc(1.5rem / 2);
		margin-right: 0;
	}

	.project_gutter:nth-child(odd) {
		margin-left: 0;
		margin-right: calc(1.5rem / 2);
	}

	.footer-links li {
		padding-right: 1.5rem;
	}

}

@media only screen and (min-width: 60em)  {
	nav {
		text-align: right;
	}

}