 <!DOCTYPE html>
<html lang="en-us">
<head>
	<meta chatset="utf-8">
	<title>Luke Warda Porfolio</title>
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,inital-scale=1">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
	
</head>
<body class="">

	<header class="masthead grid margin-center body-max pad-top">
	{% include nav.html %}

	</header>

		{{content}}




	<footer class="footer span-100">
	 {% include footer.html %}
	</footer>

</body>
</html>